.valoresContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 15px;
}

.sectionContainer {
  width: 100%;
  padding: 15px;
  height: auto;
  min-height: 200px;
  background-color: #EEE;
  border-radius: 8px;
}

.sectionContainer p {
  font-size: 18px;
  text-align: justify;
}

.alignTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.alignTitle img {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .valoresContainer {
    flex-direction: row;
  }

  .sectionContainer {
    flex: 1;
  }
}