.panelServicoHero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panelServicoHero div{
    width: 250px;
    height: 100px;
    background-color: #EEE;
    color: #333;
    font-size: 18px;
    margin: 12px 4px;
    padding: 8px;
}

div  p{
    margin-top: 8px;
}

.CardSubTitle{
    color: rgb(0, 63, 63);
}