.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.HeroContainer {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%; 
  height: 450px;
  overflow: hidden; 
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: opacity 0.5s ease-in-out; 
}

.carousel-titulo{
    position: absolute;
    padding: 0 12px;
    margin: 18px;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-titulo > p{
    color: #FFF;
    font-size: 28px;
    padding: 0 12px;
    padding-bottom: 12px;
}
.carousel-texto-apoio{
    position: absolute;
    padding: 8px;
    margin: 18px;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-texto-apoio > p{
    color: #FFF;
    font-size: 22px;
    padding: 0 12px;
    padding-bottom: 12px;

}

.carousel-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
